.profile-img {
  border: 1px dotted lightgray;
  width: 75%;
  height: auto;
  margin-top: 30px;
}

.award-img {
  border: 1px dotted lightgray;
  margin-top: 70px;
}

.speciality-section {
  min-height: 50vh;
}

.text-underline {
  border-bottom: 1px solid #f30885;
}

.ast-highlight {
  color: #f30885;
}
