html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.brand-logo {
  margin-top: 12px;
}

.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: #000;
}

.banner:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
}

.banner:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;

  -moz-backface-visibility: hidden;

  -webkit-backface-visibility: hidden;

  -ms-backface-visibility: hidden;
  -moz-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  -ms-transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  -o-transform: translateZ(0) scale(1, 1);
  background: linear-gradient(
      90.16deg,
      #ffffff 0.08%,
      rgba(255, 255, 255, 0.75) 54.91%,
      rgba(255, 255, 255, 0.7) 98.48%
    ),
    url(/img/pencil_sketch_g3ram.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  animation: increase 80s linear 20ms infinite;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  z-index: -5;
}

@keyframes increase {
  0% {
    transform: sclae(1);
  }
  100% {
    transform: scale(2);
  }
}

.banner-text {
  width: 50vw;
}

section {
  min-height: 100vh;
}

progress {
  -webkit-appearance: progress-bar;
  box-sizing: border-box;
  display: inline-block;
  height: 1em;
  width: 10em;
  vertical-align: -0.2em;
  color: white;
}

progress.progress-bar {
  position: fixed;
  height: 2px;
  top: 64px;
  width: 100%;
  transition: width 0.3s linear;
  -webkit-appearance: none;
}
progress::-webkit-progress-value {
  background-color: #d32f2f;
}
progress::-moz-progress-value {
  background-color: #d32f2f;
}

.project-section {
  background: linear-gradient(
      90.16deg,
      #ffffff 0.08%,
      rgba(255, 255, 255, 0.75) 54.91%,
      rgba(255, 255, 255, 0.7) 98.48%
    ),
    url(/img/project-background.jpg);
  background-size: cover;
}

.gutter {
  padding-top: 50px;
}

.footer-content {
  height: 200px;
  width: 100%;
}

.footer-links {
  margin-right: 20px;
}

.gradient-pink {
  background: #c2185b;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer {
  padding: 0px;
}
.footer-copyright {
  width: 100%;
  margin: 0px;
}

@media screen and (max-width: 670px) {
  .name-title {
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 700;
  }

  progress.progress-bar {
    top: 55px;
  }

  .footer-section {
    flex-direction: column;
  }

  .footer-left {
    margin-bottom: 20px;
  }

  .banner {
    height: 75vh;
  }
}
