.normal-text {
  /* font-family: "Open Sans", sans-serif; */
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.normal-flow-text {
  /* font-family: "Open Sans", sans-serif; */
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-align: justify;
  line-height: 1.75;
}

.normal-large-text {
  /* font-family: "Open Sans", sans-serif; */
  letter-spacing: 2px;
  font-size: 1.6rem;
}

p {
  /* font-family: "Open Sans", sans-serif; */
  line-height: 1.5;
  text-align: justify;
}

.name-title {
  letter-spacing: 2px;
  font-size: 5.5rem;
  font-weight: 700;
}

.sub-title {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 500;
}

.banner-footer {
  letter-spacing: 2px;
  font-size: 1.8rem;
  font-weight: 700;
}

h1 {
  letter-spacing: 1px;
  font-size: 4rem;
}

.highlights {
  /* color: linear-gradient(180deg, #c2185b 0%, #d32f2f 100%); */
  color: #c2185b;
}

@media screen and (max-width: 670) {
  .name-title {
    letter-spacing: 2px;
    font-size: 4.75rem;
    font-weight: 700;
  }
}
